@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-style: normal;
}
.header {
  height: 100vh;
  background-image: url(../Images/Shop.avif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar:after {
  content: "";
  clear: both;
  display: block;
}
.header .navbar {
  background-color: #ffaa1d;
  color: white;
}
.header .navbar a {
  color: white;
  text-decoration: none;
}
.header .navbar .navbar-items .lg-heading {
  font-size: 40px;
  float: left;
  padding-left: 40px;
}
.header .navbar .navbar-items .list-items {
  display: flex;
  float: right;
  font-size: 20px;
  margin-top: 13px;
}
.header .navbar .navbar-items .list-items .list {
  margin-right: 25px;
  list-style-type: none;
}
.welcome {
  margin-top: 170px;
  padding-left: 60px;
  font-weight: 600;
  font-size: 30px;
  float: left;
}
.welcome a {
  margin-top: 7px;
  margin-left: 50px;
  text-decoration: none;
  font-size: 25px;
  padding: 5px 9px;
  border-radius: 50px;
  border: 2px solid #f4f4f4;
  background-color: lightblue;
  color: white;
}
.shop-section {
  background-color: cornsilk;
}
.shop-section .img-container img {
  display: inline-block;
  margin-top: 150px;
  margin-left: 75px;
  width: 300px;
  height: 200px;
}
.shop-section .img-container {
  position: relative;
  display: inline-block;
  margin: 0px 10px;
}
.services-section {
  background-color: #f4f4f4;
}
.services-section .services-class {
  display: flex;
  padding: 150px 80px;
}
.services-section .services-class .service {
  text-align: center;
  padding: 20px;
  background-color: white;
}
.services-section .services-class .service h4 {
  font-size: 25px;
  color: rgb(205, 15, 15);
}
.services-section .services-class .service p {
  font-size: 16px;
  font-weight: 300;
}
.services-section .services-class .service i {
  color: lightseagreen;
}
.footer {
  color: #f4f4f4;
  background-color: #263238;
  padding-top: 60px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  font-weight: 300;
}
.footer .div1 {
  text-align: left;
  width: 35%;
}
.footer .div1 i {
  color: white;
  margin: 15px;
}
.footer .div2,
.footer .div3,
.footer .div4 {
  width: 21.666%;
  text-align: center;
}
.footer .div2 a p,
.footer .div3 a p,
.footer .div4 a p {
  margin-bottom: 10px;
  color: white;
}
.footer .div2 a,
.footer .div3 a,
.footer .div4 a {
  text-decoration: none;
}
.end {
  background-color: #263238;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 17px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}
.end .copyright {
  margin-right: 50px;
  float: left;
}
.end .terms a {
  color: white;
  text-decoration: none;
}
.end .terms .tnc {
  margin-right: 50px;
}
