@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-style: normal;
}
h1 {
  font-size: 40px;
  padding-left: 40px;
  padding-bottom: 60px;
}
h3 {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  padding-bottom: 30px;
}
.form {
  font-size: 20px;
  margin-left: 450px;
  margin-right: 450px;
}
.form input {
  font-size: 16px;
  width: 400px;
  padding: 7px 0px;
  border: none;
  border-bottom: 2px solid grey;
}
button {
  font-size: 18px;
  padding: 6px 15px;
  margin-left: 160px;
  background-color: #ffaa1d;
  color: white;
  border: none;
  margin-bottom: 10px;
}
p {
  padding-left: 30px;
  font-weight: 300;
  font-size: 17px;
}
p a {
  color: black;
  padding-left: 25px;
  padding-right: 30px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}
